In [16]:
import pandas as pd

import mysql.connector
import csv

In [17]:
df_homicidios=pd.read_excel('homicidio_Eda.xlsx')
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   HORA                   696 non-null    object
 4   LUGAR_DEL_HECHO        696 non-null    object
 5   TIPO_DE_CALLE          696 non-null    object
 6   Calle                  696 non-null    object
 7   Cruce                  696 non-null    object
 8   Dirección Normalizada  688 non-null    object
 9   COMUNA                 696 non-null    int64
 10  XY (CABA)              696 non-null    object
 11  pos x                  696 non-null    object
 12  pos y                  696 non-null    object
 13  VICTIMA                696 non-null    object
 14  ACUSADO                696 non-null    object
 15  ID_hecho               696 non-null    object
 16  ROL                    696 non-null    object
 17  SEXO                   696 non-null    object
 18  EDAD                   696 non-null    int64
 19  SEMESTRE               696 non-null    int64
 20  AÑO                    696 non-null    int64
dtypes: datetime64[ns](1), int64(5), object(15)
memory usage: 114.3+ KB

In [18]:
print(df_homicidios.columns)

Index(['ID', 'N_VICTIMAS', 'FECHA', 'HORA', 'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE',
       'Calle', 'Cruce', 'Dirección Normalizada', 'COMUNA', 'XY (CABA)',
       'pos x', 'pos y', 'VICTIMA', 'ACUSADO', 'ID_hecho', 'ROL', 'SEXO',
       'EDAD', 'SEMESTRE', 'AÑO'],
      dtype='object')

In [23]:
import mysql.connector



# Conectar a la base de datos MySQL
conexion = mysql.connector.connect(user='root', password='12345',
                                   host='127.0.0.1',
                                   database='homicidios_viales')
cursor = conexion.cursor()

# Crear la tabla en la base de datos MySQL

crear_tabla_query = """
CREATE TABLE IF NOT EXISTS homicidio (
    ID VARCHAR(10) PRIMARY KEY,
    N_VICTIMAS INT,
    FECHA DATE,
    HORA date,
    LUGAR_DEL_HECHO VARCHAR(255),
    TIPO_DE_CALLE VARCHAR(255),
    Calle VARCHAR(255),
    Cruce VARCHAR(255),
    Dirección_Normalizada VARCHAR(255),
    COMUNA INT,
    XY_CABA VARCHAR(255),
    pos_x VARCHAR(255),
    pos_y VARCHAR(255),
    VICTIMA VARCHAR(255),
    ACUSADO VARCHAR(255),
    ID_hecho VARCHAR(255),
    ROL VARCHAR(255),
    SEXO VARCHAR(255),
    EDAD INT,
    SEMESTRE INT,
    AÑO INT
)
"""

cursor.execute(crear_tabla_query)

# Confirmar los cambios y cerrar la conexión
conexion.commit()
conexion.close()