ETL

En este notebook abordaremos el proceso de extraccion ,tranformaci贸n y carga de los datasets brindados

Datasets:
se descarga el archivo homicidios.xlsx desde https://data.buenosaires.gob.ar/dataset/victimas-siniestros-viales
ademas se descargo como material complementario la base de lesiones (lesiones)

In [62]:
import pandas as pd #IMPORTARMOS LA LIBRERIA CON LA QUE TRABAJEREMOS LOS DATOS

#creamos la variable ruta donde alojamos el archivo en formato excel 
ruta="D:/usuarios/CIN/MIS DOCUMENTOS/Proyecto Integrador/Proyecto_Integrador2/datasets/homicidios.xlsx"

# SE Lee el archivo Excel, donde le pasamos los parametros ruta y sheet_name en None para que lea todas las hojas del archivo 
todas_las_hojas = pd.read_excel(ruta,sheet_name=None)

#como pandas convierte el dataset en un diccionario , mostramos las claves con la sigueinte linea para ver que hojas del archivo dejar 
todas_las_hojas.keys()

dict_keys(['HECHOS', 'DICCIONARIO_HECHOS', 'VICTIMAS', 'DICCIONARIO_VICTIMAS', 'clas'])

In [63]:

#vamos a dejar las hoja de Hechos y vamos a combinarla con la de victimas 

#cramos un dataframe de hechos y otro de victima

hechos_df=todas_las_hojas['HECHOS']

victimas_df=todas_las_hojas['VICTIMAS']

In [64]:
#verificar informacion de la hoja "hechos"

hechos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Direcci贸n Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [65]:
# eliminar las columnas que no vamos a necesitar 
hechos_df.drop(columns=['HH','AAAA','MM','DD','PARTICIPANTES'], inplace=True)

In [66]:
hechos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   HORA                   696 non-null    object
 4   LUGAR_DEL_HECHO        696 non-null    object
 5   TIPO_DE_CALLE          696 non-null    object
 6   Calle                  695 non-null    object
 7   Altura                 129 non-null    float64
 8   Cruce                  525 non-null    object
 9   Direcci贸n Normalizada  688 non-null    object
 10  COMUNA                 696 non-null    int64
 11  XY (CABA)              696 non-null    object
 12  pos x                  696 non-null    object
 13  pos y                  696 non-null    object
 14  VICTIMA                696 non-null    object
 15  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(12)
memory usage: 87.1+ KB

In [67]:
#verificar informacion de la hoja "victimas"
victimas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [68]:
# eliminar las columnas que no vamos a necesitar 
victimas_df.drop(columns=['FECHA','VICTIMA','AAAA','MM','DD','FECHA_FALLECIMIENTO'], inplace=True)

In [69]:
victimas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID_hecho  717 non-null    object
 1   ROL       717 non-null    object
 2   SEXO      717 non-null    object
 3   EDAD      717 non-null    object
dtypes: object(4)
memory usage: 22.5+ KB

In [70]:

# Realiza un merge entre los dos dataframes utilizando el 铆ndice 'ID_hecho'

df_homicidios = pd.merge(hechos_df, victimas_df, left_on='ID', right_on='ID_hecho', how='left')


df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     717 non-null    object
 1   N_VICTIMAS             717 non-null    int64
 2   FECHA                  717 non-null    datetime64[ns]
 3   HORA                   717 non-null    object
 4   LUGAR_DEL_HECHO        717 non-null    object
 5   TIPO_DE_CALLE          717 non-null    object
 6   Calle                  716 non-null    object
 7   Altura                 133 non-null    float64
 8   Cruce                  540 non-null    object
 9   Direcci贸n Normalizada  708 non-null    object
 10  COMUNA                 717 non-null    int64
 11  XY (CABA)              717 non-null    object
 12  pos x                  717 non-null    object
 13  pos y                  717 non-null    object
 14  VICTIMA                717 non-null    object
 15  ACUSADO                717 non-null    object
 16  ID_hecho               717 non-null    object
 17  ROL                    717 non-null    object
 18  SEXO                   717 non-null    object
 19  EDAD                   717 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(16)
memory usage: 112.2+ KB

In [71]:
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     717 non-null    object
 1   N_VICTIMAS             717 non-null    int64
 2   FECHA                  717 non-null    datetime64[ns]
 3   HORA                   717 non-null    object
 4   LUGAR_DEL_HECHO        717 non-null    object
 5   TIPO_DE_CALLE          717 non-null    object
 6   Calle                  716 non-null    object
 7   Altura                 133 non-null    float64
 8   Cruce                  540 non-null    object
 9   Direcci贸n Normalizada  708 non-null    object
 10  COMUNA                 717 non-null    int64
 11  XY (CABA)              717 non-null    object
 12  pos x                  717 non-null    object
 13  pos y                  717 non-null    object
 14  VICTIMA                717 non-null    object
 15  ACUSADO                717 non-null    object
 16  ID_hecho               717 non-null    object
 17  ROL                    717 non-null    object
 18  SEXO                   717 non-null    object
 19  EDAD                   717 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(16)
memory usage: 112.2+ KB

In [72]:
## cargamos  el archivo resultante  para poder realizar el EDA

# Guarda el DataFrame concatenado como un archivo CSV
df_homicidios.to_excel('homicidios.xlsx', index=False)

In [42]:
#vamos a verificicar  si existen  valores nulos 
# Verificar valores nulos
valores_nulos = df_homicidios.isnull()

# Contar el n煤mero de valores nulos en cada columna
num_valores_nulos_por_columna = valores_nulos.sum()

# Contar el n煤mero total de valores nulos en el DataFrame
num_valores_nulos_total = valores_nulos.sum().sum()

# Imprimir los resultados
print("Valores nulos por columna:")
print(num_valores_nulos_por_columna)
print("\nN煤mero total de valores nulos en el DataFrame:", num_valores_nulos_total)

Valores nulos por columna:
ID                         0
N_VICTIMAS                 0
FECHA                      0
HORA                       0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Cruce                    177
Direcci贸n Normalizada      9
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
VICTIMA                    0
ACUSADO                    0
ID_hecho                   0
ROL                        0
SEXO                       0
EDAD                       0
dtype: int64

N煤mero total de valores nulos en el DataFrame: 187

In [48]:
df_sin_nulos = df_homicidios.dropna(subset=['Cruce'])

In [49]:
#vamos a verificicar  si existen  valores nulos 
# Verificar valores nulos
valores_nulos = df_sin_nulos.isnull()

# Contar el n煤mero de valores nulos en cada columna
num_valores_nulos_por_columna = valores_nulos.sum()

# Contar el n煤mero total de valores nulos en el DataFrame
num_valores_nulos_total = valores_nulos.sum().sum()

# Imprimir los resultados
print("Valores nulos por columna:")
print(num_valores_nulos_por_columna)
print("\nN煤mero total de valores nulos en el DataFrame:", num_valores_nulos_total)

Valores nulos por columna:
ID                       0
N_VICTIMAS               0
FECHA                    0
HORA                     0
LUGAR_DEL_HECHO          0
TIPO_DE_CALLE            0
Calle                    0
Cruce                    0
Direcci贸n Normalizada    0
COMUNA                   0
XY (CABA)                0
pos x                    0
pos y                    0
VICTIMA                  0
ACUSADO                  0
ID_hecho                 0
ROL                      0
SEXO                     0
EDAD                     0
dtype: int64

N煤mero total de valores nulos en el DataFrame: 0